body{
    background-color: green;
    /* background-image: url('/home/mr_white/blood-alert-bd/blood-alert-bd/src/images/Logo-Draft.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}